*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;

}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.form-box{
    width: 100%;
    height: 100%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 50px ;
    text-align: center;
    border-radius: 30px;
}
.form-box h1{
    font-size: 90px;
    margin-bottom: 30px;
    color:blue;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 150px;
    height: 6px;
    border-radius: 5px;
    position: absolute;
    background: RED;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%)
}
.input-field{
    /* background-color:; */
    margin: 11px 5px;
    display:inline-block;
    width: 100%;
    /* border-color: black; */
    /* border-radius: 3px ; */
    /* border: 3px solid black ; */
    /* align-items: center; */

}
input{
    width:80%;
    display:inline;
    height: 45px;
    /* background: transparent; */
    border: 5px solid black ;
    border-radius: 8px;
    outline: 0;
    max-height: 60px;
    /* padding: 15px 20px;    */
}
.input-field i{
    margin-left:5px;
    font-size: 29px;
    display:inline;
}
span #otp{
    /* padding-left: 4px; */
    margin-right:10px;
    display:none;
    
    float: right;
    /* flex-basis: 48%; */
    cursor: pointer;
    height:40px;
    width: 100px;
    color: white;
    background-color:red;
    font-size: 20px;
    border-radius:20px;
}
br{
    font-size: 1px;
    height:1px;
    display:inline;
}
form p{
    font-size: 30px;
}
form p a{
    text-decoration: none;
    width: 100%;
    color: blue;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#submit{
    /* margin-block: 30px; */
    /* padding-top: 20px; */
    flex-basis: 48%;
    width: 40%;
    background:lightgreen;
    color: red;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer; 
}
button{
flex-basis: 48%;
font-size: 20px;
   background:blue;
   color: white;
   height: 40px;
   border: 3px solid black;
   border-radius: 20px;
   margin-top: 25px;
   outline: 0;
   cursor: pointer;
   /* transition: background 1s; */
}
.btn-field button.disable{
    background-color: silver;
    /* outline-color: black; */
}
.input-group{
    height: 100%;
}
div.error{
    line-height: 0px;
    /* margin-bottom: 5px; */
    /* display:block; */
}
.error{
    font-size:20px;
    float: left;
    /* margin-bottom:-900px; */
    margin-top: 0px;
    margin-left: 50px;
}
@media screen and (max-width:700px){
    .form-box{
        background: url("background.jpg");
    }
}
